{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if folder %}{{ folder.name }}{% else %}Stuck{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/select_folder.css' %}">

</head>
<body>
    <main class="folder main">
        <section class="top">
            <h4>저장할 폴더 정하기</h4>
            <div class="detail">
            <!-- 폴더 경로 이동 섹션 -->
            {% if folder %}
            <section>
                {% if folder.parent %}
                <a href="{% url 'quiz:select-folder' folder.parent.id %}">
                  <img src="{% static 'img/left_circle.png' %}" alt="left_arrow" class="left_circle">
                </a>
                {% else %}
                <a href="{% url 'quiz:select-folder' 0 %}">
                  <img src="{% static 'img/left_circle.png' %}" alt="left_arrow" class="left_circle">
                </a>
                {% endif %}
            </section>
            {% endif %}
            
            <div class="bf_select">
                {% if folder %}
                {{ path }}
                {% else %}
                  <img class="left_circle_white" src="{% static 'img/left_circle_white.png' %}" alt="이미지 설명" />
                  <p>Stuck/</p>
                {% endif %}
            </div>
            <div class="af_select">
                {% if folder %}
                <form method="POST" action="{% url 'quiz:select-folder' folder.id %}">
                    {% csrf_token %}<button class="makequestion_before">문제 생성</button>
                </form>
                {% endif %}
            </div>
            </div>
          
        </section>

        <section class="grid-container">
            <!-- *gi 현재 폴더 하위에 있는 폴더 출력 -->
            {% for child in children %}
            <div class="grid-item">
                <a href="{% url 'quiz:select-folder' child.id %}">
                    <img src="{% static 'img/folder.svg' %}" alt="Folder Icon">
                    <p>{{ child.name }}</p>
                </a>
            </div>
            {% endfor %}

            <!-- 현재 폴더 하위에 있는 Q 파일 출력 -->
            {% for q in folder.quizs.all %}
            <div class="grid-item">
                <img src="{% static 'img/q.png' %}" alt="Q File Icon">
                <p>{{ q.title }}</p>
            </div>
            {% endfor %}

            <!-- 현재 폴더 하위에 있는 T 파일 출력 -->
            {% for q in folder.qnas.all %}
            <div class="grid-item">
                <img src="{% static 'img/t.png' %}" alt="T File Icon">
                <p>{{ q.title }}</p>
            </div>
            {% endfor %}
        </section>

        <!-- 폴더 생성 섹션 -->
        <section class="make_folders">
            <h6>새로운 폴더 생성하기</h6>
            {% if folder %}
            <form action="{% url 'quiz:add-folder' folder.id %}" method="POST">
                {% csrf_token %}
                <input type="text" id="folder_name" name="folder_name" placeholder="폴더명을 입력해주세요">
                <button type="submit" class="makequestion_before">폴더 생성</button>
            </form>
            {% else %}
            <form action="{% url 'quiz:add-folder' 0 %}" method="POST">
                {% csrf_token %}
                <input type="text" id="folder_name" name="folder_name" placeholder="폴더명을 입력해주세요">
                <button type="submit" class="input_foldername">폴더 생성</button>
            </form>
            {% endif %}
        </section>

    </main>
</body>
</html>
{% endblock %}
