{% extends "base.html" %} {% load static %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/test.css' %}" />
    <title>Quiz</title>
  </head>
  <body>
    <main class="test_main">
      <section class="test_info">
        <h5 class="grid1">{{ type }}</h5>
        <div class="grid2">
          <h5>{{ quiz.title }}</h5>
          <p>{{ message }}</p>
        </div>
        <div class="grid3">
          <p>생성 날짜: {{ quiz.created_at }}</p>
          <p>문제 수: {{ quiz.question_num }}</p>
        </div>
      </section>
      <section class="download">
        <a href="{% url 'quiz:save-quiz-as-pdf' folder_id quiz.id %}"
          ><img src="{% static 'img/pdf.png' %}" class="pdf"
        /></a>
        <a href="{% url 'quiz:save-quiz-as-word' folder_id quiz.id %}"
          ><img src="{% static 'img/word.png' %}" class="word"
        /></a>
      </section>
      <section class="questions">
        <form method="post">
          {% csrf_token %} {% for question in questions %}
          <div>
            <label>{{ question.ai_question|linebreaks }}</label>
            <input
              type="text"
              name="answer_{{ question.id }}"
              placeholder="정답을 입력해주세요"
            />
          </div>
          {% endfor %}
          <button class="gotoresult" type="submit">채점하기</button>
        </form>
      </section>
      <section class="result">
        <div class="result-content">
          <!-- 여기에 result content를 추가할 수 있습니다. -->
        </div>
      </section>
    </main>
  </body>
</html>
{% endblock %}
