<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if folder %}{{ path }}{% else %}Stuck{% endif %}</title>
</head>
<body>
    <a href="{% url 'quiz:home' %}">홈으로</a>
    <h1>{% if folder %}{{ path }}{% else %}Stuck{% endif %}</h1>

    {% if folder %}
        {% if not folder in request.user.customuser.scrap_folders.all %}
        <a href="{% url 'quiz:add-scrap-folder' folder_id=folder.id %}">스크랩</a>
        {% else %}
        <a href="{% url 'quiz:cancel-scrap-folder' folder_id=folder.id %}">스크랩 취소</a>
        {% endif %}
    {% endif %}

    <div id="trash-bin">쓰레기통</div>

    <h3>folder</h3>
    <ul ondrop="drop(event, {% if folder %}{{ folder.id }}{% else %}0{% endif %})" ondragover="allowDrop(event)">
        {% for child in children %}
            <li id="folder-{{ child.id }}" class="draggable" draggable="true">
                <a href="{% url 'quiz:folder-view' child.id %}">{{ child.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <h3>quiz</h3>
    <ul ondragover="allowDrop(event)">
        {% for q in folder.quizs.all %}
            <li id="quiz-{{ q.id }}" class="draggable" draggable="true">
                <a id="quiz-{{ q.id }}" href="{% url 'quiz:view-questions' folder.id q.id %}">{{ q.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <h3>q&a</h3>
    <ul ondragover="allowDrop(event)">
        {% for q in folder.qnas.all %}
            <li id="qna-{{ q.id }}" class="draggable" draggable="true">
                <a id="qna-{{ q.id }}" href="{% url 'qna:enter-question-room' folder.id q.id %}">{{ q.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <br><br>
    {% if folder %}

        {% if folder.parent == None %}
            <a href="{% url 'quiz:folder-view' 0 %}">루트 폴더로 이동</a>
        {% else %}
            <a href="{% url 'quiz:folder-view' folder.parent.id %}">폴더 뒤로 가기</a>
        {% endif %}

    {% endif %}
    <br><br>

    <h3>즐겨찾기</h3>
    <ul>
        {% for scrap in scraps %}
            <li>{{ scrap.folder.name }} - <a href="{% url 'quiz:folder-view' folder_id=scrap.folder.id %}">폴더 보기</a></li>
        {% endfor %}
    </ul>

    <script>
        function drag(event) {
            console.log(event.target)
            console.log(event.target.href)
            event.dataTransfer.setData("text", event.target.id);
            console.log("Drag started: " + event.target.id);
        }

        function allowDrop(event) {
            event.preventDefault();
        }

        function drop(event, parentId) {
            event.preventDefault();
            var data = event.dataTransfer.getData("text");
            console.log(data)
            var test = data.split('-')[0];
            console.log(`test ${test}`);

            if (test === "quiz") {
                var quizId = data.split('-')[1];
                var targetElement = event.target.closest('li');
                var newCategoryId = targetElement ? targetElement.id.split('-')[1] : '0';
                var currentUrl = window.location.href;
                var categoryId = currentUrl.match(/folder\/(\d+)\//)[1];
                window.location.href = `/quiz/move/${categoryId}/${quizId}/to/${newCategoryId}/`;
            } else if (test === "qna") {
                var qnaId = data.split('-')[1];
                var targetElement = event.target.closest('li');
                var currentFolderId = targetElement ? targetElement.id.split('-')[1] : '0';
                var currentUrl = window.location.href;
                var moveFolderId = currentUrl.match(/folder\/(\d+)\//)[1];
                window.location.href = `/qna/move/${currentFolderId}/${qnaId}/to/${moveFolderId}/`;
            } else {
                    var categoryId = data.split('/')[4];
                    // 드롭한 위치의 가장 가까운 li 요소 찾기
                    var targetElement = event.target.closest('li'); 
                    // 부모 ID 추출
                    var parentId = targetElement ? targetElement.id.split('-')[1] : '0'; 
                    console.log(data)
                    console.log(categoryId)
                    // 생성한 폴더 이동
                    window.location.href = `/folder/move/${categoryId}/to/${parentId}/`;
                }
        }

        document.querySelectorAll('.draggable').forEach(function(element) {
            element.addEventListener('dragstart', drag);
        });

        var trashBin = document.getElementById('trash-bin');
        trashBin.addEventListener('dragover', function(event) {
            event.preventDefault();
            trashBin.classList.add('dragover');
        });
        trashBin.addEventListener('dragleave', function(event) {
            trashBin.classList.remove('dragover');
        });
        trashBin.addEventListener('drop', function(event) {
            dropToTrash(event);
        });

        function dropToTrash(event) {
            event.preventDefault();
            var data = event.dataTransfer.getData("text");
            var test = data.split('-')[0];
            var itemId = data.split('-')[1];

            if (test === "quiz") {
                window.location.href = `/delete/quiz/${itemId}/`;
            } else if (test === "qna") {
                window.location.href = `/delete/qna/${itemId}/`;
            } else {
                window.location.href = `/delete/folder/${itemId}/`;
            }
        }
    </script>
</body>
</html>
