{% extends "base.html" %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if folder %}{{ path }}{% else %}Stuck{% endif %}</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 15px;
            margin-top: 20px;
        }

        .grid-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .grid-item img {
            width: 70px;
            height: 80px;
        }

        .favorites {
            margin-top: 20px;
        }

        .favorites .grid-container {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 10px;
        }

        .trash-bin {
            margin-top: 20px;
            padding: 10px;
            border: 2px dashed #ccc;
            text-align: center;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <!-- 프론트분들께 설명 -->
    <h1>전달 내용</h1>
    <li>folder, quiz, q&a를 드래그해서 folder에 놓으면 해당 folder의 하위 문서로 들어갑니다.</li>
    <li>folder, quiz, q&a를 쓰레기통 텍스트로 드래그하면 파일, 폴더가 삭제됩니다.</li> <br><br>
    <a href="{% url 'quiz:home' %}">홈으로</a>
    <h1>{% if folder %}{{ path }}{% else %}Stuck{% endif %}</h1>

    {% if folder %}
        {% if not folder in request.user.customuser.scrap_folders.all %}
        <a href="{% url 'quiz:add-scrap-folder' folder_id=folder.id %}">폴더 스크랩하기</a>
        {% else %}
        <a href="{% url 'quiz:cancel-scrap-folder' folder_id=folder.id %}">스크랩 취소</a>
        {% endif %}
    {% endif %}

    <div id="trash-bin">쓰레기통</div>

    <section class="grid-container">
        <!-- 현재 폴더 하위에 있는 폴더 출력 -->
        {% for child in children %}
        <div id="folder-{{ child.id }}" class="grid-item" ondrop="drop(event, 'folder', {{ child.id }})" ondragover="allowDrop(event)">
            <a id="folder-{{ child.id }}" class="draggable" draggable="true" href="{% url 'quiz:folder-view' child.id %}">
                <img src="{% static 'img/folder.svg' %}" alt="Folder Icon">
                <p>{{ child.name }}</p>
            </a>
        </div>
        {% endfor %}

        <!-- 현재 폴더 하위에 있는 Q 파일 출력 -->
        {% for q in folder.quizs.all %}
        <div id="quiz-{{ q.id }}" class="grid-item" draggable="true" ondragstart="drag(event)">
            <img src="{% static 'img/q.png' %}" alt="Q File Icon">
            <p><a id="quiz-{{ q.id }}" href="{% url 'quiz:view-questions' folder.id q.id %}">{{ q.title }}</a></p>
        </div>
        {% endfor %}

        <!-- 현재 폴더 하위에 있는 T 파일 출력 -->
        {% for q in folder.qnas.all %}
        <div id="qna-{{ q.id }}" class="grid-item" draggable="true" ondragstart="drag(event)">
            <img src="{% static 'img/t.png' %}" alt="T File Icon">
            <p><a id="qna-{{ q.id }}" href="{% url 'qna:enter-question-room' folder.id q.id %}">{{ q.title }}</a></p>
        </div>
        {% endfor %}
    </section>

    <br><br>
    {% if folder %}
        {% if folder.parent == None %}
            <a href="{% url 'quiz:folder-view' 0 %}">루트 폴더로 이동</a>
        {% else %}
            <a href="{% url 'quiz:folder-view' folder.parent.id %}">폴더 뒤로 가기</a>
        {% endif %}
    {% endif %}
    <br><br>

    <!-- 스크랩 항목 조회 -->
    <div class="favorites">
        <h3>즐겨찾기</h3>
        <section class="grid-container">
            {% for scrap in folder_scraps %}
            <div class="grid-item">
                <img src="{% static 'img/folder.svg' %}" alt="Folder Icon">
                <p><a href="{% url 'quiz:folder-view' scrap.folder.id %}">{{ scrap.folder.name }}</a></p>
            </div>
            {% endfor %}

            {% for scrap in quiz_scraps %}
            <div class="grid-item">
                <img src="{% static 'img/q.png' %}" alt="Q File Icon">
                <p><a href="{% url 'quiz:view-questions' 0 scrap.quiz.id %}">{{ scrap.quiz.title }}</a></p>
            </div>
            {% endfor %}

            {% for scrap in question_room_scraps %}
            <div class="grid-item">
                <img src="{% static 'img/t.png' %}" alt="T File Icon">
                <p><a href="{% url 'qna:enter-question-room' 0 scrap.question_room.id %}">{{ scrap.question_room.title }}</a></p>
            </div>
            {% endfor %}
        </section>
    </div>

    <!-- 폴더 검색 -->
     <h3>폴더 검색</h3>
     {% if messages %}
            {% for message in messages %}
                <p style="color:red">{{ message }}</p>
            {% endfor %}
    {% endif %}

     {% if folder %}
        <form action="{% url 'quiz:search-folder' folder.id %}">
            {% csrf_token %}
            <input name="search_folder_name" type="text">
            <button>검색</button>
        </form>
    {% else %}
        <form action="{% url 'quiz:search-folder' 0 %}">
            {% csrf_token %}
            <input name="search_folder_name" type="text">
            <button>검색</button>
        </form>
    {% endif %}
    
    <script>
        function drag(event) {
            event.dataTransfer.setData("text", event.target.id);
        }

        function allowDrop(event) {
            event.preventDefault();
        }

        function drop(event, type, folderId) {
            event.preventDefault();
            var data = event.dataTransfer.getData("text");
            var element = document.getElementById(data);
            var itemId = data.split('-')[1];

            const path = window.location.pathname;
            const segments = path.split('/');
            console.log(segments)
            let parentId = segments[2]; 
            console.log(parentId)

            if (type === 'folder') {
                if (data.startsWith('quiz-')) {
                    window.location.href = `/quiz/move/${parentId}/${itemId}/to/${folderId}/`;
                } else if (data.startsWith('qna-')) {
                    window.location.href = `/qna/move/${parentId}/${itemId}/to/${folderId}/`;
                } else {
                    window.location.href = `/folder/move/${folderId}/to/${itemId}/`;
                }
            }
        }

        document.querySelectorAll('.draggable').forEach(function(element) {
            element.addEventListener('dragstart', drag);
        });

        var trashBin = document.getElementById('trash-bin');
        trashBin.addEventListener('dragover', function(event) {
            event.preventDefault();
            trashBin.classList.add('dragover');
        });
        trashBin.addEventListener('dragleave', function(event) {
            trashBin.classList.remove('dragover');
        });
        trashBin.addEventListener('drop', function(event) {
            dropToTrash(event);
        });

        function dropToTrash(event) {
            event.preventDefault();
            var data = event.dataTransfer.getData("text");
            var itemId = data.split('-')[1];

            if (data.startsWith('quiz-')) {
                window.location.href = `/quiz/delete/${itemId}/`;
            } else if (data.startsWith('qna-')) {
                window.location.href = `/qna/delete/${itemId}/`;
            } else {
                window.location.href = `/folder/delete/${itemId}/`;
            }
        }
    </script>
</body>
</html>
{% endblock %}
