@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    font-family: 'Pretendard-Regular';
}
h1{font-size: 96px; font-weight: bold;}
h2{font-size: 60px; font-weight: bold;}
h3{font-size: 48px; font-weight: bold;}
h4{font-size: 38px; font-weight: bold;}
h5{font-size: 24px; font-weight: bold;}
h6{font-size: 20px; font-weight: bold;}
body{
    padding: 0;
    margin: 0 ;
}
li{
    list-style: none;
}

.main-header{
    /*헤더고정*/
    position: sticky;
    top:0;
    z-index: 999;
    background-color: white;
    height: 90px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    display: flex;
    padding: 0 5%;
}
.navbar_menu{
    display: flex;
    list-style: none;
    
}
.navbar_menu li{
    margin: 0 20px;
    font-weight: bold;
    font-size: 24px;

}
.navbar_menu>li>a{
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-top: 5px;
}
.navbar{
    flex: 4;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 2rem;
}

.logo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.logo img{
    width: 140px;
}
.logout{
    display: flex;
    height: 40px;
    width: 100px;
    
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #09A8FA;
}
.logout button{
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.main-footer{
    height: 340px;
    
}
.inner{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}
.left-sec{
    margin: 30px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    
}
.right-sec{
    margin: 30px 0;
    flex: 1;
    display: flex;
}
.f-logo{
    margin-bottom: 30px ;
    flex: 1;
}
.f-logo img{
    width: 143px;
}
.info p{
    line-height: 20px;
    margin: 0;
    padding: 0;
    flex: 1;
}
.copyright{
    flex: 1;
    padding-top: 30px;
}
.info-list{
    width: 300px;
    line-height: 30px;
}
.sns{
    justify-content: end;
}
.sns img{
    width: 24px;
    margin: 10px;
}