main {
  width: 1280px;
  margin: 0 auto;
}
.navbar .nav-qna * {
  color: #09A8FA;
}
h6,
label {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #757575;
}

.quiz_option {
  display: grid;
  grid-template-columns: 3.5fr 2fr 2.5fr;
  grid-gap: 37px;
  margin-top: 100px;
  margin-bottom: 21px;
}

.file_name,
.quiz_number,
.quiz_type {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quiz_number {
  display: flex;
  flex-direction: column;
}

.quiz_option input,
select {
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  border: 1px solid var(--Secondary-Disabled, rgba(59, 59, 59, 0.2));
  background: var(
    --Teritary-Pressed,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    #f1f1f1
  );
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.05) inset;
}

.file_upload {
  display: flex;
  height: 321px;
  border-radius: 10px;
  border: 1.5px solid var(--Secondary-Disabled, rgba(59, 59, 59, 0.2));
  justify-content: space-evenly;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--Primary, #09a8fa);
  font-size: 21px;
  font-weight: 700;
  color: white;
  margin-top: 63px;
  margin-bottom: 200px;
  border: none;
  width: 100%;
  padding: 10px;
}

h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: var(--Primary, #09a8fa);
  color: white;
  font-size: 18px;
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
}

p {
  font-size: 11px;
  color: #757575;
  margin-top: 0;
}

.upload_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cloud {
  margin-bottom: 38px;
}

.file_upload input[type="file"] {
  width: 1px;
  height: 1px;
  opacity: 10;
}

.loading-screen {
  display: none;  /* 초기에는 보이지 않도록 설정 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);  /* 반투명한 배경색 */
  z-index: 9999;  /* 다른 요소들보다 위에 표시 */
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);  /* 투명한 테두리 */
  border-top: 4px solid #ffffff;  /* 흰색의 윗부분 테두리 */
  border-radius: 50%;  /* 원형 모양을 위한 테두리 반지름 */
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;  /* 회전 애니메이션 */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}