main {
    width: 1305px;
    margin: 0 auto;
}
.navbar .nav-home * {
    color: #09A8FA;
}

.today {
    font-weight: bold;
    background-color: #09A8FA;
    padding: 5px; 
    border-radius: 3px;
}


.top {
    display: flex;
    justify-content: center;
    height: 550px;
    overflow: hidden;
    margin: 80px auto;
    
    
}

.tag,
.agency {
    font-size: 14px;
}

#h6 {
    font-size: 20px;
    font-weight: bold;
    color: #757575;
}

.profile {
    flex: 1;

}

.profile-card {

    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
    width: 280px;
    height: 550px;
    border-radius: 20px;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
    height: 200px;
}

.name,
.agency {
    line-height: 10px;
    text-align: center;
    margin: 0.5rem;
}

.tag {
    margin: 5px auto;
    line-height: 23px;
    text-align: center;
    padding: 0 10px;
    width: fit-content;
    height: 23px;
    background-color: #fff;
    color: #09A8FA;
    border-radius: 10px;
}

.profile-img img {
    display: flex;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.progress-container {
    width: 575px;
    background-color: #F1F1F1;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 40px;
}

.progress-bar {
    height: 21px;
    border-radius: 25px;
    transition: width 0.5s ease;
}

.blue {
    background-color: #09A8FA;
}

.lightblue {
    background-color: #84D4FD;
}

.skyblue {
    background-color: #C3E3F3;
}

.report-list {
    flex: 3;
    margin-left: 2rem;
}

.ment {
    display: flex;
    width: 900px;
    height: 90px;
    background-color: #F1F1F1;
    color: #09A8FA;
    border-radius: 20px;
    justify-content: center;
    align-items: center;

}

.empty {
    display: block;
    height: 185px;
    width: 100%;
}

.graph h5 {
    margin: 10px;
}

.middle {
    height: fit-content;
    padding-bottom: 20px;
   
}

.middle-sec {
    display: flex;
}

.calender {
    flex: 2;
}

.today-mark{
    background-color: #3B3B3B;
    color: white;
    width: 40px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    line-height: 24px;
    margin: 0 auto;
}
.title-date {
    display: flex;
    width: fit-content;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 10px;
    float: left;
}

.side {
    flex: 1;
}

.btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    float: right;
    height: 42px;
    margin-right: 8px;
}

.btn img {
    width: 11px;
}

.cal_btn {
    background-color: #F1F1F1;
    width: 78px;
    height: 40px;
    float: right;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.nodisplay *{
    display: none;
}

.display {
    display: flex;
}

.month-cal {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;
}

.week-cal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.week-cal li {
    width: 14%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;


}

.week-cal h6 {
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
}

.check-todo {
    width: 78px;
    height: 78px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    color: #fff;
}

.check-todo.gray {
    background-color: #F1F1F1;
}

.check-todo.blue {
    background-color: #09A8FA;
}

.count-todo {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.middle .day {
    font-size: 16px;
    font-weight: bold;
}

.cal_btn {
    cursor: pointer;
}
.side{
    display: flex;
    flex-direction: column;
    align-items: end;
    
}
.scrap, .recent{
    margin-bottom: 20px;
    line-height: 30px;
    width: 240px;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    border:1px solid #F1F1F1;
}
.scrap .subtitle, .recent .subtitle{
    margin-left: 10px;
    color: #757575;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.bottom {
    width: 100%;
    margin: 100px auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    
}

.bottom button {
    
    background-color: #09A8FA;
    color: white;
    width: 588px;
    height: 100px;
    border: none;
    border-radius: 10px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

ul * {
    list-style: none;
}
