main {
  width: 80%;
  margin: 0 auto;
}

.title {
  display: flex;
  width: 200px;
  margin-top: 18px;;
}

.title h4 {
  font-size: 24px;
  font-weight: 700;
  margin-left: 52.41px;
}

.top {
  display: flex;
  flex-direction: column;
}

.top-left {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-right: 24px;
}

.left_allow {
width: 21.588px;
height: 32.5px;
}

h4 {
  font-family: Pretendard;
  color: #3b3b3b;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.scrap {
  display: flex;
  width: 186px;
  height: 37px;
  padding: 8px 18px 8px 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--Teritary, #F1F1F1);
}

.search {
  display: flex;
  width: 690px;
  height: 37px;
  padding: 8px 18px 8px 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--Teritary, #F1F1F1);
}

.icon_scrap {
  width: 24px;
  height: 24px;
}

.icon_search {
  width: 24px;
  height: 24px;
}

.scrap, search p {
  font-size: 14px;
  font-weight: 400;
  color:#3b3b3b; 
}

.top-right {
  display: flex;
  width: 283px;
  height: 137px;
  padding: 24px 38px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: var(--Teritary-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%), #F1F1F1);
}

.top-right h5 {
  color: #3B3B3B;
  font-size: 20px;
  font-weight: 700;
}

.top-right p { 
  color: #3B3B3B;
  font-size: 12px;
  font-weight: 400;
}

.icon_delete {
  width: 26px;
  height: 29px;
}

h6 {
  font-family: Pretendard;
  color: #757575;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.detail {
  display: flex;
  align-items: center;
  gap: 16px;
}
