{% extends "base.html" %} {% load static %} {% block content %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/question_room.css' %}" />
  </head>
  <body>
    <main>
      <section class="left_main">
        <section class="left_title">
          <div class="titletop">
            <a href="{% url 'quiz:folder-view' folder_id %}">
              <img src="{% static 'img/left_allow.png' %}" class="left_allow" />
            </a>
            <h5>{{ question_room.file.name|filename }}</h5>
          </div>
          <div class="icons">
            <!-- 저장하면 바뀌는 거 결과 페이지에는 맞게 구현되어 있으니까 그거 복붙하도 좋을 것 같아요! 카톡에서 말했다시피 제 노트북은 프리티어 꺼도 이 페이지에서는 한 줄에 안 적어져서 오류가 나네요,,, -->
            {% if not question_room in request.user.customuser.scrap_question_rooms.all %}
            <a
              href="{% url 'qna:add-scrap-question-room' folder_id question_room.id %}"
            >
              <img src="{% static 'img/scrap.png' %}" class="scrap" />
            </a>
            {% else %}
            <a href="{% url 'qna:cancel-scrap-question-room' folder_id question_room.id %}">
              <img src="{% static 'img/noscrap.png' %}" class="scrap" />
            </a>
            <a
              href="{% url 'qna:save-chat-as-pdf' folder_id question_room.id %}"
            >
              <img src="{% static 'img/pdf.png' %}" class="pdf" />
            </a>
            {% endif %}
            <a
              href="{% url 'qna:save-chat-as-word' folder_id question_room.id %}"
            >
              <img src="{% static 'img/word.png' %}" class="word" />
            </a>
          </div>
        </section>
        <section class="chat-container">
          <section class="chat">
            {% for chat in chats %}
            <br /><br />
            <div class="chatname">
              <img src="{% static 'img/profile.png' %}" class="profile" />사용자
              :
            </div>
            <br />{{ chat.user_chat }}<br />
            <br />
            <div class="chatname">
              <img src="{% static 'img/s-icon.png' %}" class="s-icon" />STUCK :
            </div>
            <br />{{ chat.gpt_chat | linebreaks }}<br />
            <hr />
            {% endfor %}
          </section>
        </section>
        <form
          action="{% url 'qna:enter-question-room' folder_id question_room.id %}"
          method="POST"
          class="chat-form"
        >
          {% csrf_token %}
          <div class="input_q">
            <input
              type="text"
              name="user_question"
              placeholder="무엇이 궁금하신가요?"
            />
            <button type="submit">
              <img src="{% static 'img/send.png' %}" class="send" />
            </button>
          </div>
        </form>
      </section>
      <section class="right_main">
        <secion class="right_title">
          <img src="{% static 'img/typo.png' %}" class="typo" />
          <div class="icons2">
            <a
              href="{% url 'qna:save-memo-as-pdf' folder_id question_room.id %}"
            >
              <img src="{% static 'img/pdf.png' %}" class="pdf" />
            </a>
            <a
              href="{% url 'qna:save-memo-as-word' folder_id question_room.id %}"
            >
              <img src="{% static 'img/word.png' %}" class="word" />
            </a>
          </div>
        </secion>
        <!-- 여기 수정 들어가야합니당 -->
        {{ question_room.created_at }}
        <form
          action="{% url 'qna:save-question-memo' folder_id question_room.id %}"
          method="POST"
        >
          {% csrf_token %}
          <textarea name="memo">{{ question_room.memo }}</textarea>
          <button type="submit">memo 저장</button>
        </form>
      </section>
    </main>
  </body>
</html>
{% endblock %}
