<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if folder %}{{ folder.name }}{% else %}Stuck{% endif %}</title>

</head>
<body>    
    <h1>q&a를 저장할 폴더 선택하기</h1>
    <!--폴더 이름 출력, 이름이 없다면 Root로 설정-->
    <h1>{% if folder %}{{ path }}{% else %}Stuck{% endif %}</h1>

    {% if folder %}
    <form method="POST" action="{% url 'qna:select-folder' folder.id %}">
        {% csrf_token %}
        {{ path }} <button>폴더 선택</button>
    </form>
    {% endif %}
    <!--현재 폴더 하위에 있는 폴더 출력-->
    <h3>folder</h3>
    <ul >
        {% for child in children %}
            <li id="folder-{{ child.id }}" class="draggable" draggable="true">
                <a href="{% url 'qna:select-folder' child.id %}">{{ child.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <h3>quiz</h3>
    <ul  >
        {% for q in folder.quizs.all %}
            <li id="quiz-{{ q.id }}" class="draggable" draggable="true">
                {{q.title}} {{q.score}} / {{q.question_num}} 
                <a href="{% url 'quiz:view-questions' folder.id q.id %}">문제보기</a>
               <!-- <a href="{% url 'quiz:test' folder.id q.id %}">다시풀기</a>
                <a href="{% url 'quiz:view-wrong-questions' folder.id q.id %}">틀린문제만 보기</a>
                <a href="{% url 'quiz:save-quiz-as-pdf' folder.id q.id %}">문제 pdf로 다운로드</a>
                <a href="{% url 'quiz:save-quiz-as-word' folder.id q.id %}">문제 word로 다운로드</a> -->
            </li>
        {% endfor %}
    </ul>

    <h3>q&a</h3>
    <ul  >
        {% for q in folder.qnas.all %}
            <li id="quiz-{{ q.id }}" class="draggable" draggable="true">
                {{q.title}} 
             </li>
        {% endfor %}
    </ul>


    <br><br>
    <!--현재 폴더가 루트 폴더가 아니라면-->
    {% if folder %}
        <form action="{% url 'qna:add-folder' folder.id %}" method="POST">
            {% csrf_token %}
            <label for="folder_name">New Subfolder Name:</label>
            <input type="text" id="folder_name" name="folder_name">
            <button type="submit">Add Subfolder</button>
        </form>
        <!-- <a href="{% url 'quiz:create-quiz' folder.id %}">퀴즈 생성</a><br> -->

    
         <!--상위 폴더가 루트 폴더라면-->
        {% if folder.parent == None %}
            <a href="{% url 'qna:select-folder' 0 %}">루트 폴더로 이동</a>
        <!--상위 폴더가 루트 폴더가 아니라면-->
        {% else %}
            <a href="{% url 'qna:select-folder' folder.parent.id %}">폴더 뒤로 가기</a>
        {% endif %}
        
    <!--현재 폴더가 루트 폴더라면-->
    {% else %}
        <form action="{% url 'qna:add-folder' 0 %}" method="POST">
            {% csrf_token %}
            <label for="folder_name">New folder Name:</label>
            <input type="text" id="folder_name" name="folder_name">
            <button type="submit">Add folder</button>
        </form>
    {% endif %}
        <br><br>

</body>
</html>
