{% extends "base.html" %}

{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <script src="{% static 'js/mypage.js' %}" defer></script>
</head>

<body>
   
    <main class="mypage-main">
        <h3>나의 정보</h3>
        <section class="profile">
            <div class="name">
                <h4>{{ request.user.username }}<img src="{% static 'img/right_allow.png' %}" alt="right_allow"></h4>
            </div>

            
            <form method="POST">
                {% csrf_token %}
            <section class="pro-sc1">
                <div class="profile-img">
                    <img src="{% static 'img/profile.png' %}">
                </div>
                <div class="ment">
                    <div class="mention">
                      <h6 class="gray">한 줄 다짐</h6>  
                      <div class="round-box">
                        <textarea class="linetext textarea" value="{{ request.user.customuser.resolution }}" name="resolution" disabled>{{ request.user.customuser.resolution }}</textarea>
                      </div>
                    </div>
                    <div class="nickname">
                        <h6 class="gray">별명</h6>
                        
                        <select name="nickname" class="select-nickname" disabled>
                            <option value="{{ request.user.customuser.nickname }}" selected>{{ request.user.customuser.nickname }}</option>

                            <option value="끈기 있는 마에스트로" {% if request.user.customuser.nickname == "끈기 있는 마에스트로" %}selected{% endif %}>끈기
                                있는 마에스트로</option>
                            <option value="열정의 천재" {% if request.user.customuser.nickname == "열정의 지니어스" %}selected{% endif %}>열정의 천재
                            </option>
                            <option value="성실한 지니어스" {% if request.user.customuser.nickname == "성실한 천재" %} selected {% endif %}>성실한 지니어스
                            </option>
                            <option value="노력의 귀재" {% if request.user.customuser.nickname == "노력의 귀재" %}selected{% endif %}>노력의 귀재
                            </option>
                            <option value="묵묵한 달인" {% if request.user.customuser.nickname == "묵묵한 달인" %}selected{% endif %}>묵묵한 달인
                            </option>
                            
                        </select>
                        <img src="{% static 'img/select.png' %}" alt="select" >
                    </div>
                

                </div>
            </section>
            <section class="pro-sc2">
                <h6 class="gray">한 줄 소개</h6>
                <textarea class="textarea" value="{{ request.user.customuser.introduce }}" name="introduce" disabled>{{ request.user.customuser.introduce }}</textarea>
            </section>
            <button type="submit" class="save nodisplay">저장하기</button>
        </form>
        <button class="set">수정하기</button>
        </section>

        <div class="empty"></div>
        <div class="empty"></div>

        <h3>나의 목표</h3>
        <section class="cal">
            <h4 class="title-date">{{week_month}}</h4>
                <div class="calender">
                    
                    <button class="cal_btn ">주</button>
                    <button type="button" class="right-btn">
                        <img src="{% static 'img/right_allow.png' %}">
                    </button>
                    <button type="button" class="left-btn">
                        <img src="{% static 'img/left_allow.png' %}">
                    </button>
                    
                     <ul class="week-cal display">
                        {% for day in week_days %}
                        <li class="{{ day.day_name|lower }}">
                            <h6>{{ day.day_name }}</h6>
                            <a href="{% url 'accounts:mypage_by_date' day.date.year day.date.month day.date.day week_offset %}">
                                <div class="check-todo {{ day.color }}">
                                    <span class="count-todo">{{ day.todo_count }}</span>
                                </div>
                            </a>
                            <!-- <h6 class="day">{{ day.date.day }}</h6> -->
                            <h6>{{ day.date.day }}</h6>
                        </li>
                        {% endfor %}
                        
                </ul>

                    <div class="todo display">
                        <form method="POST" action="{% url 'todo:todo_list' chlicked_day.year chlicked_day.month chlicked_day.day week_offset %}">

                        <div class="btn">
                            <button  type="submit" name="routine_submit" class="add-routine button">루틴 추가
                                <img src="{% static 'img/add.png' %}" alt="add_btn" >
                            </button>
                        </div>
                        <div class="input_todo">
                                {% csrf_token %}
                                <input type="text" placeholder="루틴을 입력해주세요." class="input_routine" name="{{ routine_form.name.html_name }}" class="input_routine">

                                <img src="{% static 'img/add_w.png' %}" alt="add_btn">
                            </div>
                            </form>
                            {% for routine in routines %}
                    <div class="category">
                        <button class="add-todo button">
                            <span>{{ routine.name }}</span>
                            <img src="{% static 'img/add.png' %}" alt="add_btn">
                        




                        </button>

                        <form method="post" action="{% url 'todo:todo_list' chlicked_day.year chlicked_day.month chlicked_day.day week_offset %}" class="todo_form">
                            {% csrf_token %}
                            <button type="button" class="checkbox"><img src="{% static 'img/todo-before.png' %}" alt="체크박스" class="todo_check"></button>
                            <input type="hidden" class="todo_form" placeholder="할 일을 입력해주세요." name="routine_id" value="{{ routine.id }}">
                            <input type="text" placeholder="할 일을 입력해주세요." class="todo_form" name="{{ todo_form.description.name }}">

               
                            <button type="submit" class="todobtn" name="todo_submit">등록</button>
                        </form>

                        <ul>
                            {% for todo in todos %}
                                {% if todo.routine.id == routine.id %}
                                <li>
                                    <form action="{% url 'todo:complete_todo' chlicked_day.year chlicked_day.month chlicked_day.day week_offset todo.pk %}" method="POST">
                                        {% csrf_token %}
             
                                            <button type="button"  class="checkbox" onclick="this.closest('form').submit()">
                                                {% if todo.completed %}
                                                    <img src="{% static 'img/todo-after.png' %}" alt="체크박스" class="todo_check">
                                                {% else %}
                                                    <img src="{% static 'img/todo-before.png' %}" alt="체크박스" class="todo_check">
                                                {% endif %}
                                            </button>
                                            {% if todo.completed %}
                                                <strike><a href="{% url 'todo:complete_todo' chlicked_day.year chlicked_day.month chlicked_day.day week_offset todo.pk %}">{{ todo.description }}</a></strike>
                                            {% else %}
                                            <a href="{% url 'todo:complete_todo' chlicked_day.year chlicked_day.month chlicked_day.day week_offset todo.pk %}">{{ todo.description }}</a>
                                            {% endif %}
                                            </button>
                            
                                    </form>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                        

                       
                        <div class="todolist">
                            
                        </div>
                    </div>
                    <wrap class="month-cal nodisplay">
                        <ul class="week-cal">
                            <li class="sun">
                                <h6>일</h6>
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="mon">
                                <h6>월</h6>
                                <div class="check-todo blue">5</div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="tue">
                                <h6>화</h6>
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="wed">
                                <h6>수</h6>
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="thu">
                                <h6>목</h6>
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="fri">
                                <h6>금</h6>
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="sat">
                                <h6>토</h6>
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                        </ul>
                        <ul class="week-cal">
                            <li class="sun">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="mon">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="tue">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="wed">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="thu">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="fri">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="sat">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                        </ul>
                        <ul class="week-cal">
                            <li class="sun">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="mon">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="tue">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="wed">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="thu">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="fri">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="sat">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                        </ul>
                        <ul class="week-cal">
                            <li class="sun">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="mon">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="tue">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="wed">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="thu">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="fri">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="sat">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                        </ul>
                        <ul class="week-cal">
                            <li class="sun">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="mon">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="tue">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="wed">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="thu">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="fri">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                            <li class="sat">
                                <div class="check-todo gray"></div>
                                <h6 class="m-day"></h6>
                            </li>
                        </ul>
                                    
                </div>
                
        </section>
        <div class="empty"></div>
                        
    </main>
</body>
<script>
    //static 경로를 못찾아서 투두 관련 스크립트는 html 내에 작성함.
    /*
    const InputCategory = document.querySelector(".input_routine");
    const addbtn = document.querySelector(".add-routine");
    const Todo = document.querySelector(".todo");

    addbtn.addEventListener('click', () => {
        if(InputCategory.value == ''){
            alert('루틴 이름을 입력해주세요.');
            return;
        }
        
        const category =document.createElement('div');
        category.classList.add('category');

        const button = document.createElement('button');
        button.innerHTML = `<span>`+ InputCategory.value +`</span>` + ` <img src="{% static 'img/add.png' %}" alt="add_btn" >`;
        button.classList.add('add-todo');

        category.appendChild(button);

        Todo.appendChild(category);
         InputCategory.value='';

        
    })
    */
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const prevButton = document.querySelector(".left-btn");
        const nextButton = document.querySelector(".right-btn");

        const currentUrl = window.location.href;

        const urlSegments = currentUrl.split('/');
        console.log(currentUrl)
        let currentOffset = urlSegments[8];

        console.log(currentOffset)

        const today = new Date();
        const year = today.getFullYear();
        const month = today.getMonth() + 1; 
        const day = today.getDate();
        
        prevButton.addEventListener("click", function() {
            currentOffset = parseInt(currentOffset) - 1;
            window.location.href = `/accounts/mypage/${year}/${month}/${day}/${currentOffset}/`;
        });

        nextButton.addEventListener("click", function() {
            currentOffset = parseInt(currentOffset) + 1;
            window.location.href = `/accounts/mypage/${year}/${month}/${day}/${currentOffset}/`;
        });

        
    });
</script>


</html>

{% endblock %}