<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
</head>
<body>
    
    <h1>비밀번호 찾기</h1>
    <form method="post">
      {% csrf_token %}
      <p>
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" required>
      </p>
      <p>
          <label for="username">ID:</label>
          <input type="text" name="username" id="username" required>
      </p>
      <button type="submit">비밀번호 초기화하기</button>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

</body>
</html>