<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 초기화</title>
</head>
<body>
    <h1>비밀번호 초기화</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
    <form method="post">
        {% csrf_token %}
        <p>
          <label for="id_new_password1">New password:</label>
          <input type="password" name="new_password1" id="id_new_password1" required>
        </p>
        <p>
          <label for="id_new_password2">Confirm new password:</label>
          <input type="password" name="new_password2" id="id_new_password2" required>
        </p>
        <button type="submit">비밀번호 재설정</button>
    </form>
    {% endif %}
</body>
</html>