{% extends "base.html" %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="{% static 'css/forgot_id.css' %}" />
</head>

<body>
    <div class="empty"></div>
    <div class="empty"></div>
    <main class="findPwd-main">
        <div class="wrap">
            <div class="logo">
                <a href="/"><img src="{% static 'img/LOGO.png' %}" alt="logo" ></a>
                <h4>비밀번호 찾기</h4>
            </div>
            <div class="empty"></div>
            <form method="post">
                {% csrf_token %}

                <h6 for="username">아이디</h6>
                <input type="text" name="username" id="username" required placeholder="아이디를 입력해주세요">

                <h6 for="email">가입 이메일</h6>
                <input type="email" name="email" id="email" required placeholder="가입 이메일을 입력해주세요">
                {% if message %}
                <p class="error">{{ message }}</p>
                {% endif %}
                <input type="submit" >비밀번호 초기화하기</input>
            </form>

        </div>
    </main>
    <div class="empty"></div>
    <div class="empty"></div>

</body>
{% endblock %}

</html>