<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
</head>
<body>
    <h1>회원가입</h1>
    <form class="user" method="POST">
        {% csrf_token %}
        <div>
            <input type="text" name="username" placeholder="ID를 입력하세요.">
        </div>
        <div>
            <input type="password" name="password" placeholder="비밀번호를 입력하세요">
        </div>
        <div>
            <input type="password" name="password2" placeholder="비밀번호를 다시 한 번 입력하세요">
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %} 
        </div>
        <div>
            <input type="email" name="email" placeholder="이메일을 입력하세요" required>
        </div>
        별명 선택
        <select name="nickname">
            <option value="끈기 있는 마에스트로" {% if request.user.customuser.resolution == "끈기 있는 마에스트로" %}selected{% endif %}>끈기 있는 마에스트로</option>
            <option value="열정의 천재" {% if request.user.customuser.resolution == "열정의 지니어스" %}selected{% endif %}>열정의 천재</option>
            <option value="성실한 지니어스" {% if request.user.customuser.resolution == "성실한 천재" %} selected {% endif %}>성실한 지니어스</option>
            <option value="노력의 귀재" {% if request.user.customuser.resolution == "노력의 귀재" %}selected{% endif %}>노력의 귀재</option>
            <option value="묵묵한 달인" {% if request.user.customuser.resolution == "묵묵한 달인" %}selected{% endif %}>묵묵한 달인</option>
        </select>
        <div>
            <input type="text" name="univ" placeholder="재학중인 학교를 입력하세요">
        </div>
        <div>
            <input type="number" name="semester" placeholder="학기를 입력하세요">
        </div>
        <div>
            <input type="text" name="resolution" placeholder="한줄 다짐을 적어주세요" required>
        </div>

        <input type="submit" value="가입하기">
    </form>

</body>
</html>