{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <header class="main-header">
        <div class="logo">
            <a href="/">
                <img src="{% static 'img/LOGO.png' %}" alt="logo">
            </a>
        </div>
        <div class="navbar">
            <ul class="navbar_menu">
                <li class="nav-home"><a href="/">HOME</a></li>
                <li class="nav-quiz"><a href="/">문제풀이</a></li>
                <li class="nav-qna"><a href="/">질문하기</a></li>
                <li class="nav-mystuck"><a href="/">MYSTUCK</a></li>
                <li class="nav-mypage"><a href="/">MYPAGE</a></li>

                <li class="logout"><button class="logout_btn">로그아웃</button></li>
            </ul>
        </div>
    </header>

    {% block content %}

    {% endblock%}

    <footer class="main-footer">
        <div class="inner">
            <div class="left-sec">
                <div class="f-logo">
                    <a href="/">
                        <img src="{% static 'img/LOGO_gray.png' %}" alt="logo">
                    </a>
                </div>
                <div class="info">
                    <p>상호 : 스턱 | 대표자명 : 스턱이들 |</p>
                    <p>사업자등록번호 : 000-00-00000 </p>
                    <p>이메일 : <span style="text-decoration: underline;">help@stuck.com</span> | 주소 : 서울시 용산구 스턱동 12</p>
                </div>
                <div class="copyright">Copyright 2024. 스턱이들 all rights reserved.</div>
            </div>
            <div class="right-sec">
                <div class="info-list">
                    <ul>
                        <li>ABOUT</li>
                        <li>COMMUNITY</li>
                        <li>이용약관</li>
                        <li>개인정보처리방침</li>
                        <li>고객센터</li>
                    </ul>
                </div>
                <div class="sns">
                    <img src="{% static 'img/facebook.png' %}" alt="meta">
                    <img src="{% static 'img/instagram.png' %}" alt="insta">
                    <img src="{% static 'img/x.png' %}" alt="x">
                    <img src="{% static 'img/youtube.png' %}" alt="youtube">
                </div>

            </div>
        </div>
    </footer>

</body>

</html>